#portfolioCarousel.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.shs.active{"data-slide-to" => "0", "data-target" => "#portfolioCarousel"} @SHS
    %li.azure{"data-slide-to" => "1", "data-target" => "#portfolioCarousel"} @Azure
    %li.xbox{"data-slide-to" => "2", "data-target" => "#portfolioCarousel"} @Xbox
    %li.amazon{"data-slide-to" => "3", "data-target" => "#portfolioCarousel"} @Amazon
    %li.boeing{"data-slide-to" => "4", "data-target" => "#portfolioCarousel"} @Boeing
    %li.seattle_astro{"data-slide-to" => "5", "data-target" => "#portfolioCarousel"} @SeattleAstro
  .carousel-inner
    .item.active
      %img.shs{alt: "@SHS", src: "#{asset_path('Transparent.gif')}"}/
      .container
        %img{src: "#{asset_path('shs.png')}"}/
        .carousel-caption
          %h1 Reimagining Home Services
          %p
            How do you start with a clean slate and re-build both the technical stack
            and overall user experience for all of Sears Home Services?  This is
            what our team was formed to do, and is doing now today.
          %p
            %a.btn.btn-sm.btn-primary{href: "#shs", role: "button"} Learn More
    .item
      %img.azure{alt: "@Azure", src: "#{asset_path('Transparent.gif')}"}/
      .container
        %img{src: "#{asset_path('azure.png')}"}/
        .carousel-caption
          %h1 Games as a Service
          %p
            Free-to-play games usher in an era of
            "games as a service," requiring the need to guarantee
            engaging, evolving gameplay and content, while at the same time
            generating revenue over the life of the game.  We looked to understand
            this space through iterative, boots-on-the-ground customer development.
          %p
            %a.btn.btn-sm.btn-primary{href: "#azure", role: "button"} Learn More
    .item
      %img.xbox{alt: "@Xbox One", src: "#{asset_path('Transparent.gif')}"}/
      .container
        %img{src: "#{asset_path('xbox.png')}"}/
        .carousel-caption
          %h1 Personalizing Discovery
          %p
            With an ever-growing catalog of first- and third-party sources,
            how do you blend together both search and browse into a single,
            cohesive experience?  More so, how do you do so across a federated
            space of different services, all while maintaining the flexability
            for real-time changes, even when there are millions of simultaneous
            users?
          %p
            %a.btn.btn-sm.btn-primary{href: "#xbox", role: "button"} Learn More
    .item
      %img.amazon{alt: "@Amazon", src: "#{asset_path('Transparent.gif')}"}/
      .container
        %img{src: "#{asset_path('amazon.png')}"}/
        .carousel-caption
          %h1 Food &amp; Totes
          %p
            How do you replace the very analog and tactile experience of
            shopping for food   with a completely digital one?  Can you change
            the
            %i end-to-end experience
            of one of the   largest online
            retailers, and in the process, make it feel more like your  best
            friend dropped off a few items from the store?
          %p
            %a.btn.btn-sm.btn-primary{href: "#amazon", role: "button"} Learn More
    .item
      %img.boeing{alt: "@Boeing", src: "#{asset_path('Transparent.gif')}"}/
      .container
        %img{src: "#{asset_path('boeing.png')}"}/
        .carousel-caption
          %h1 Airplanes Over Databases
          %p
            How do you take 30 years of technology and hundreds of
            databases, and with those provide a
            %i user experience
            that
            moves customers out of the solution-space of command-lines and
            into the intuitive problem-space of airplanes, runways, and
            weather conditions?
          %p
            %a.btn.btn-sm.btn-primary{href: "#boeing", role: "button"} Learn More
    .item
      %img.seattle_astro{alt: "@SeattleAstro", src: "#{asset_path('Transparent.gif')}"}/
      .container
        %img{src: "#{asset_path('seattle_astro.png')}"}/
        .carousel-caption
          %h1 Skies Over Seattle
          %p
            My passion for astronomy, community outreach and beautiful, hand-crafted
            experiences combined themselves into a completely re-invented online
            experience for Seattle Astronomical Society.
          %p
            %a.btn.btn-sm.btn-primary{href: "#seattle_astro", role: "button"} Learn More
  %a.left.carousel-control{"data-slide" => "prev", href: "#portfolioCarousel", role: "button"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", href: "#portfolioCarousel", role: "button"}
    %span.glyphicon.glyphicon-chevron-right
.container

  =render partial: 'pages/portfolio/shs'
  =render partial: 'pages/portfolio/azure'
  =render partial: 'pages/portfolio/xbox'
  =render partial: 'pages/portfolio/amazon'
  =render partial: 'pages/portfolio/boeing'
  =render partial: 'pages/portfolio/seattle_astro'

:javascript
  $('#portfolioCarousel').carousel({
      interval: 7000
  })
