#portfolioCarousel.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  -unless @single_company
    %ol.carousel-indicators
      -is_first = true
      -index = 0
      -@portfolio.each do |slug, company|
        %li{ class: "#{company.slug} #{is_first ? 'active' : ''}"}
          =link_to "@#{company.short}", company_path(slug)
        -is_first = false
        -index = index + 1
  .carousel-inner
    -is_first = true
    -@portfolio.each do |slug, company|
      %div{ class: "item #{is_first ? 'active' : ''}"}
        %img{alt: "@#{company.short}", src: "#{asset_path('Transparent.gif')}", class: company.slug}
        .container
          %img{src: "#{asset_path(company.slug.to_s + '.png')}"}/
          .carousel-caption
            %h1=raw company.title
            %p
              =render partial: company.to_lead_path
            -unless @single_company
              %p
                %a.btn.btn-sm.btn-primary{href: company_path(slug), role: "button"} Learn More
      -is_first = false
  -unless @single_company
    %a.left.carousel-control{"data-slide" => "prev", href: "#portfolioCarousel", role: "button"}
      %span.glyphicon.glyphicon-chevron-left
    %a.right.carousel-control{"data-slide" => "next", href: "#portfolioCarousel", role: "button"}
      %span.glyphicon.glyphicon-chevron-right
.container

-if @single_company
  -@portfolio.each do |slug, company|
    =render partial: company, locals: { company: company }

-unless @single_company
  :javascript
    $('#portfolioCarousel').carousel({
        interval: 7000
    })
