!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Ward W. | Portfolio'
    %meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : 'Portfolio'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %link{rel: "stylesheet", type: "text/css", href: "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
    %link{rel: "stylesheet", type: "text/css", href: "http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags
  %body
    .container

      .header
        %ul.nav.nav-pills.pull-right
          %li{ class: is_active_path(root_path) ? 'active' : '' }
            %a{ href: root_path, id: 'nav_home'}
              Home
          %li{ class: is_active_path(portfolio_path) ? 'active' : ''}
            %a{ href: portfolio_path, id: 'nav_portfolio' }
              Portfolio
          %li{ class: is_active_path(resume_path) ? 'active' : '' }
            %a{ href: resume_path, id: 'nav_resume'}
              Resume
        %h3.text-muted
          Ward W.

      =yield

      .footer
        %ul.nav.nav-pills.pull-left
          %li{ style: "padding-top: 10px;"}
            Ward W. Vuillemot, 2015
        %ul.nav.nav-pills.pull-right
          %li
            %a{ href: aboutme_path}
              %i.fa.fa-info-circle.fa-2x
          %li
            %a{ href: link_to_wardspics}
              %i.fa.fa-camera-retro.fa-2x
          %li
            %a{ href: link_to_linkedin}
              %i.fa.fa-linkedin-square.fa-2x
          %li
            %a{ href: link_to_github}
              %i.fa.fa-github-square.fa-2x
